
span{
    font-family: "Satisfy", cursive;
    font-weight: 400;
    font-style: normal;
  }
  

body{
    margin: 50px 90px;
    background-color: black;
    color: aliceblue;
}
.navbar{
    display: flex;
    justify-content: space-between;
}
.icon-title{
    position: absolute;
    margin-left: 700px;
    margin-top: 30px;
    display: none;
}
.list-item ul{
    display: flex;
    justify-content: space-between;
    border: 1px solid rgb(123, 121, 121);
    height: 25px;
    align-items: center;
    border-radius: 10px;
    padding: 3px 0px;
}
ul li{
    list-style: none;
    margin-right: 30px;
}
.odd{
    background-color: #E6533C;
    width: 50px;
    border-radius: 15px;
    padding:  7px;
    color: white;
    width: 70px;
}
h2{
    color: #E6533C;
    font-size: 30px;
    font-weight: bold;
}
.full-banner{
    display: flex;
}
.image-bar{
    margin-left: 350px;
    height: 50px;
}
img{
    height: 350px;
}
.title{
    font-weight: bold;
    font-size: 30px;
}
.button{
    width: 150px;
    height: 30px;
    border-radius: 20px;
    /* color: aliceblue; */
    font-weight: bold;
}
#color{
    background-color: #E6533C;
    color: aliceblue;
}
#btn-primary{
    padding: 17px 14px;
    margin-left: -50px;
    margin-top: -90px;
    color: aliceblue;
    background-color: rgb(129, 128, 128);
    border-radius: 10px;
    opacity: 0.5;
}
#btn-primary-one{
    background-color: rgb(109, 108, 108);
    margin-top: -120px;
    color: aliceblue;
    margin-top: -60px;
    margin-left: 80px;
    position: absolute;
    top: 320px;
    right: 30px;
    border-radius: 10px;
    opacity: 0.5;
}
#count{
    font-size: 2.5rem;
    font-weight: bold;
}
.on-badge{
    height: 90px;
    margin-left: 900px;
}
.first-container-part{
    margin-top: 300px;
    align-items: center;
    text-align: center;
}
.one{
    font-weight: bold;
    font-size: 50px;
}
.container-picture{
    height: 70%;
    border-radius: 50%;
    border: 2px solid slategray;
}
.habbit{
    display: flex;
    justify-content: space-between;
}
.banner-picture{
    text-align: center;
}
.run-container{
    margin-top: 80px;
    width: 900px;
    display: flex;
    background-color: #303030;
    border-radius: 20px;
    align-items: center;
    margin-left: 60px;
    height: 250px;
}
.run-image{
    height: 200px;
    width: 300px;
    margin-left: 80px;
    border-radius: 15px;
}
.run-title{
    margin-left: 50px;
}
.image-part img{
margin-top: 40px;
width: 100%;
height: 99%;
}
.image-part{
    height: 10%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.f-part{
   margin-left: 300px;
}
.forth-title{
    font-size: 40px;
    font-weight: bold;
}
table,th, td{
    border: 1px solid gray;
    border-collapse: collapse;
    padding: 15px;
}
table{
    width: 300px;
    height: 80px;
}
th{
    text-align: start;
    height: 25px;
}
input{
    background-color: #303030;
    border-radius: 10px;
    /* width: 100px; */
}
/* form{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    width: 50px;
} */
.important-forth-part{
    display: flex;
    justify-content: space-between;
    color: aliceblue;
    background-color: rgb(54, 53, 53);
    padding: 20px 20px;
    width: 100%;
}


form {
    color: aliceblue;
    display: flex;
    flex-direction: column;
    gap: 10px; /* space between rows */
    
}
.row {
    color: aliceblue;
    height: 40px;
    display: flex;
    gap: 10px; /* space between items in the row */
}
.row input, .row select {
    background-color: #303030;
    color: aliceblue;
    flex: 1; /* each item takes half of the row */
}
.full-width {
    width: 100%;
}
.full-width select {
    width: 100%;
    border-radius: 10px;
    background-color: #303030;
    color: aliceblue;
    height: 40px;
}

.cal{
    margin-top: 20px;
    width: 30%;
    height: 40px;
    border-radius: 20px;
    background-color: #E6533C;
    color: aliceblue;
    font-size: 20px;
}

.part-of-footer{
    text-align: center;
    margin-top: 80px;
}
/* img{
    border-radius: 15px;
} */

.another-img-part,img{
display: grid;
grid-template-columns: repeat(3, 1fr);
width: 230px;
/* height: 500px; */
margin: 20px;
border-radius: 10px;
}
.another-img-part{
    background-color: #303030;
    width: 80%;
    /* height: 200px; */
}

h3{
    font-weight: bold;
    font-size: 25px;
}
.last-part{
    display: flex;
    justify-content: space-between;
    margin-right: 80px;
    background-color: #303030;
    margin-top: 70px;
    padding: 30px;
    width: 100%;
    margin-bottom: auto;
    border-bottom: 1px solid #303030;
}
h6{
    text-align: center;
}

/* Media quary for mobile device */
@media screen and (max-width:576px) {
    .list-item ul{
        display: none;
    } 
    .icon-title{
        display: block;
        position: absolute;
        right: 50px;
    }
    body{
        margin-left: 10px;
        margin-right: 100px;
    }
    .full-banner, .run-container, .important-forth-part, .last-part{
        flex-direction: column;
    }
    .image-bar{
        margin: 15px;
        margin-bottom: 40px;
        margin-left: 40px;
    }
    #btn-primary-one{
        top: 650px;
        right: 80px;
    }
    .habbit{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
    }
    .banner-picture{
        text-align: center;
        margin-left: 120px;
        /* width: 40px; */
    }
    .run-container{
        width: 100%;
        height: 500px;
        margin-left: 10px;
        padding: 0;
        font-size: 15px;
    }
    .run-image{
        margin-left: 0;
        padding-left: 0px;
    }
    .image-part, image{
        width: 400px;
    }
    .f-part{
        text-align: start;
        margin-left: 10px;
    }
    .another-img-part{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        padding: 0px;
    }
}